.content{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(56, 56, 54, 0.247);
    padding: 20px;
    width: 100%;

}

#display{
    width: 100%;
}

#slider{
    width: 100%;
}



